/* Unvisited Links */
#right-side-header {
    display: inline-block;
    position: relative;
    left: 1000px;
    color: rgb(0, 0, 0);
    font-family: arial, sans-serif;
    font-size: 13px;
    opacity: 0.75;
    padding: Opx Opx Opx 15px;
    text-decoration: none;
}

/* Mouse over Link */
#left-side-header:hover {
    text-decoration: underline rgb(0, 0, 0);
}

#left-side-header {
    display: inline-block;
    font-size: 13px;
    font-family: arial, sans-serif;
    padding: Opx Opx Opx 15px;
    
}
.about-section {
    display: inline-block;
}
.store-section {
    display: inline-block;
}

.mail-section {
    display: inline-block;
}

.image-section {
    display: inline-block;
}

.apps-section {
    display: inline-block;
    background-image: url('//ssl.gstatic.com/gb/images/i2_2ec824b0.png');
}

.sign-in-button {
    display: inline-block;
    font-weight: bold;
    border-width: 1px 1px;
    border-color: rgb(66, 133, 244);
}

#main {
    padding-top: 109px;
    width: 272; 
    height: 92;
    position: relative;
    left: 450px; 
}

form {
    overflow: visible;
    position:relative;
    margin:0 auto;
    padding-top:6px;
    width:484px;
}



svg {
  height: 20px; 
  width: 20px; 
  color: rgb(154, 160, 166); 
  display: block; 
  font-family: Arial, sans-serif;  
  line-height: 24px; 
  position: relative;
  left: 100px; 
}

