ul {
    list-style-type: none;
    margin: 0; 
    padding: 0; 
}

li {
    display: inline;
}

a {
    text-decoration: none;
    padding: 0px 0px 0px 15px;
    font-family: arial, sans-serif;
    font-size: 13px;
    color: rgb(0, 0, 0)
}
/* Unvisited Links */
.right-side-header {
    color: rgb(0, 0, 0);
    opacity: 0.75;
    text-align: right;
}
.left-side-header {
    color: rgba(0,0,0,0.87);
    text-align: left;
}
/* Google Site Name */
#main {
    height: 90px;
    width: 303px; 
    position: relative;
    justify-self: center;
    align-self: center;
    top: 156px; 
    left: 571px; 
    right: 874px; 
    bottom: 246px; 
}
.search-box {
  width: 582px;
  height: 44px;
  display: flex;
  flex: 1;
  padding: 5px 8px 0 16px;
  padding-left: 14px;
  position: relative; 
  left: 523px;
  top: 175px;
}

/* Magnifying Glass */
  .mag-glass {
    height: 20px; 
    width: 20px;
    color: rgb(154, 160, 166);
    position: relative;
    left: 100px;
    display: block;
    font-family: Arial, sans-serif;  
    line-height: 24px;  
  }

/* Voice Search */
  .voice-search {
    height: 24px;
    width: 24px;
    vertical-align: middle;
    line-height: 44px;
    overflow: hidden;
  }

  footer {
    width: 100%;
    background: #f2f2f2;
    line-height: 40px;
    border-top: 1px solid #e4e4e4;
    bottom: 0; 
    color: #5F6368;
    font-size: 14px;
    font-family: arial, sans-serif;
    height: 35px;
    position: fixed;
    right: 1px; 
    white-space: nowrap;
  }
  .footer {
    color: #5F6368;
}
  .right-side-footer {
    text-align: right;
    position: relative;
    bottom: 40px; 
    right: 20px; 
    font-size: 14px;
  }
  